.palette {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 20px; }
  .palette .palette__img {
    width: calc(100%/3 - 60px);
    margin: 10px;
    height: 300px;
    -o-object-fit: cover;
    object-fit: cover; }
